.layout-sidebar{
    position: absolute;
    width: 300px;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    top: 7rem;
    left: 2rem;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
}
.layout-wrapper{
    background: #dddddd63;
}
.layout-wrapper .layout-main-container {
    margin-left: 300px;
}

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 3rem 2rem 2rem 3rem;
    transition: margin-left 0.2s;
}

/* sidebar */
.layout-sidebar {
    position: absolute;
    width: 300px;
    height: calc(100vh - 9rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 7rem;
    left: 2rem;
    transition: transform 0.2s, left 0.2s;

    border-radius: 12px;
    padding: 0.5rem 1.5rem;
}
.layout-sidebar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px, rgba(0, 0, 0, 0.05) 0px 0px 2px, rgba(0, 0, 0, 0.08) 0px 1px 4px;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 700;

    margin: 0.75rem 0;
}
.layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    color:#000;
}

.layout-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu ul a.active-route {
    font-weight: 700;

}
.layout-menu ul a.active-route {
    color: #000000a3;
}

.layout-menu ul a {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0 none;
    color: #4ff0ba;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.layout-menu a {
    display: none;
}
.layout-menu a {
    display: none;
}
.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.pi-fw {
    width: 1.28571429em;
    text-align: center;
}
.pi {
    font-family: 'primeicons';
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layout-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.layout-menu ul ul {
    overflow: hidden;
    border-radius: 12px;
}


.layout-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-wrapper.layout-static.layout-static-inactive .layout-sidebar {
    transform: translateX(-100%);
    left: 0;

}
.layout-wrapper.layout-static.layout-static-inactive .layout-main-container {
    margin-left: 0;
    padding-left: 2rem;
}

.layout-footer {
    transition: margin-left .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid #27374c;
}
.font-medium {
    font-weight: 500 !important;
}
.breadcrumb{
    margin:0px;
}
.p-datatable-tbody tr td,.p-datatable-thead tr th{
    border: 2px solid #DF9 !important;
}